<header class="header">
    <div class="logoNavbar">
        <a href="#" class="logo" style="height: 80px;"><img src="/images/logo-perfushopping.jpg" style="height: 100%; width: 120px;"></a>
        <i class='bx bx-menu' id="menu-icon"></i>
    </div>
    <div>
        <nav class="navbar">
            <a href="/novedades">Novedades</a>
            <a href="/ofertas">Ofertas</a>
            <a href="#">Productos</a>
            <a href="#">Sobre nosotros</a>
            <a href="/consultar-producto">Consultar producto</a>
        </nav>
    </div>
    <div class="navbar">
        <nav>
            <a href="#">
                <i class='bx bxs-user-circle' style="font-size: 40px;" ></i>
            </a>
        </nav>
    </div>
</header>
<div class="nav-bg"></div>
    
