body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}
main {
    height: 100%;
    width: 90%;
    min-height: calc(100vh - 79px); /* Ajusta según la altura de tu barra de navegación */
    margin: 100px 10px;
    border: 2px solid rgb(166, 166, 166); /*ESTO HAY QUE SACAR ES PARA VER CUANTO OCUPA EL MAIN NOMAS*/
    display: grid; 
    flex: 1;    
    justify-content: center; /* Centrar horizontalmente */
    justify-items: center;
    align-items: center;
    overflow-x: hidden;
}
 
.perfushoppingtitle{
    margin-top: 80px;
    font-size: 1.5em;  /* 1.5 veces el tamaño de fuente base */
}